@page "{handler?}"
@using Estimator
@model Estimator.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<style>
table {
border-collapse: collapse;
}
td {
border: 1px solid black;
}
</style>

<form method="post">
    <input type="number" name="count" required/>
    <button type="submit" asp-page="Index" asp-page-handler="Send">Send</button>
</form>

<p>Sended: @Program.SentCount</p>
<p>Clicks: @Program.UserStats.Sum(us => us.TotalClicksCount)</p>

<table>
    <tr>
        <td rowspan="2" colspan="2"></td>
        <td colspan="50" style="text-align: center">Темы</td>
    </tr>
    <tr>
        @for (var i = 1; i <= 50; i++)
        {
            <td>@i</td>
        }
    </tr>
    @foreach (var stat in Program.UserStats)
    {
        <tr>
            @if (stat.UserId == 1)
            {
                <td rowspan="50">
                    <span style="writing-mode: vertical-lr; -ms-writing-mode: tb-rl; transform: rotate(180deg);">
                        Пользователи
                    </span>
                </td>
            }
            <td>@stat.UserId</td>
            @{
                var preferences = stat.GetPreferencesByPartsOfClicks();
            }
            @for (var j = 1; j <= 50; j++)
            {
                var themeInDb = stat.ThemesInDb.Contains(j);
                var text = themeInDb ? "+" : "";
                var color = preferences.Contains(j - 1) ?
                    themeInDb ? "lightgreen" : "lightpink" :
                    "transparent";
                <td style="width: 25px; height: 25px; background-color: @color">@text</td>
            }
        </tr>
    }
</table>
<br/>
<table>
    <tr>
        <td rowspan="2" colspan="2"></td>
        <td colspan="50" style="text-align: center">Темы</td>
    </tr>
    <tr>
        @for (var i = 1; i <= 50; i++)
        {
            <td>@i</td>
        }
    </tr>
    @foreach (var stat in Program.UserStats)
    {
        <tr>
            @if (stat.UserId == 1)
            {
                <td rowspan="50">
                    <span style="writing-mode: vertical-lr; -ms-writing-mode: tb-rl; transform: rotate(180deg);">
                        Пользователи
                    </span>
                </td>
            }
            <td>@stat.UserId</td>
            @{
                var parts = stat.GetThemesPartsOfClicks();
                var preferences = stat.GetPreferencesByPartsOfClicks();
            }
            @for (var j = 1; j <= 50; j++)
            {
                var themeInDb = stat.ThemesInDb.Contains(j);
                var themeIsPreference = preferences.Contains(j - 1);
                var color = themeInDb ? "lightblue" : "transparent";
                color = themeIsPreference ?
                    themeInDb ? "blue" : "lightpink"
                    : color;
                var count = parts[j - 1];
                <td style="width: 25px; height: 25px; background-color: @color">@count</td>
            }
        </tr>
    }
</table>